---
// Types
import type { SanityDocument } from "@sanity/client";

// Static Paths
import { blogStaticPaths } from "../../data/blog";

// Utils
import { loadQuery } from "../../sanity/lib/load-query";
import { urlForImage } from "../../sanity/lib/urlForImage";

// Layout
import PageLayout from "../../layouts/PageLayout.astro";

// Components
import PortableText from "../../components/Blog/RichText/PortableText.astro";
import BlogSidebar from "../../components/Blog/BlogSidebar.astro";
import BlogComment from "../../components/Blog/Comment/BlogComment.astro";
import CommentForm from "../../components/Blog/Comment/CommentForm.astro";

// Assets
import TitleImage from "../../assets/img/carousel-1.jpg";

export const getStaticPaths = blogStaticPaths;

const { slug } = Astro.params;

const { data: post } = await loadQuery<SanityDocument>({
    query: `*[_type=="post" && slug.current==$slug][0]{...,author->, categories[]->}`,
    params: { slug },
});

const mainImage = urlForImage(post.mainImage).format("webp").url();
---

<PageLayout
    nav_active="blogs"
    page_title="blog"
    page_description="some description"
    headline={post.title}
    headline_path={`/blog/${slug}`}
    background_image={TitleImage}
>
    <!-- Blog Start -->
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-8">
                    <!-- Blog Detail Start -->
                    <div class="mb-5">
                        <img
                            class="img-fluid w-100 rounded mb-5"
                            src={mainImage}
                            alt=""
                        />
                        <h1 class="mb-4">{post.title}</h1>
                        <p>
                            <span class="fw-bold">Written By:&nbsp;</span>
                            {post.author.name}
                            <span class="fw-bold">Categories:&nbsp;</span>
                            {
                                post.categories.map(
                                    (category: any) => category.title + ", ",
                                )
                            }
                            <span class="fw-bold">Published On:&nbsp;</span>
                            {post._createdAt.slice(0, 10)}
                        </p>
                        <!-- Rich Text Body -->
                        <PortableText portableText={post.body} />
                    </div>
                    <!-- Blog Detail End -->

                    <!-- Comment List Start -->
                    <div class="mb-5">
                        <div
                            class="section-title section-title-sm position-relative pb-3 mb-4"
                        >
                            <h3 class="mb-0">3 Comments</h3>
                        </div>
                        <BlogComment />
                        <BlogComment />
                        <BlogComment>
                            <BlogComment />
                        </BlogComment>
                    </div>
                    <!-- Comment List End -->

                    <!-- Comment Form Start -->
                    <CommentForm />
                    <!-- Comment Form End -->
                </div>

                <!-- Sidebar Start -->
                <div class="col-lg-4">
                    <BlogSidebar />
                </div>
                <!-- Sidebar End -->
            </div>
        </div>
    </div>
    <!-- Blog End -->
</PageLayout>
