---
// Paths
import { staticPaths } from "../../data/services";

// Layout
import ServiceLayoutBase from "../../layouts/ServiceLayoutBase.astro";

export const getStaticPaths = staticPaths;

const { service } = Astro.params;
const {
    title,
    first_para_italic,
    first_para,
    highlight_title,
    highlight_list,
    second_para,
    img,
} = Astro.props;
---

<ServiceLayoutBase
    service_title={title}
    service_path={service}
    service_description="some description"
    service_img={img}
>
    <p class={first_para_italic ? "fst-italic" : ""} slot="first-paragraph">
        {first_para}
    </p>

    <h3 slot="highlight-title">{highlight_title}</h3>
    <ul slot="highlight-ul">
        {highlight_list.map((li) => <li>{li}</li>)}
    </ul>

    {second_para && <p slot="second-paragraph" set:html={second_para} />}
</ServiceLayoutBase>
