---
// Layout
import PageLayout from "../../layouts/PageLayout.astro";

// Components
import Section from "../../layouts/Section.astro";
import ServiceButton from "../../components/Service/ServiceButton.astro";
import ServiceTabPane from "../../components/Service/ServiceTabPane.astro";

// Assets
import TitleImage from "../../assets/img/carousel-1.jpg";
import TestImage from "../../assets/img/service/719-1280x720.jpg";
---

<PageLayout
    page_title="services"
    page_description="some description"
    background_image={TitleImage}
>
    <Section
        title_top="Our Services"
        title_main="Our Top Notch Security Services"
    >
        <!-- 13 -->
        <div class="row g-4 wow fadeInUp" data-wow-delay="0.3s">
            <div class="col-6 col-lg-3 order-1 order-lg-1">
                <div class="nav nav-pills w-100 me-4">
                    <ServiceButton
                        target="#general"
                        icon="fa-car-side"
                        service="General"
                        active
                    />
                    <ServiceButton
                        target="#high-profile-vip"
                        icon="fa-car"
                        service="High Profile VIP"
                    />
                    <ServiceButton
                        target="#hospital-health"
                        icon="fa-cog"
                        service="Hospital & Health Care"
                    />
                    <ServiceButton
                        target="#hotel"
                        icon="fa-oil-can"
                        service="Hotel"
                    />
                    <ServiceButton
                        target="#event"
                        icon="fa-oil-can"
                        service="Event"
                    />
                    <ServiceButton
                        target="#school"
                        icon="fa-oil-can"
                        service="School"
                    />
                    <ServiceButton
                        target="#retail"
                        icon="fa-car-side"
                        service="Retail Shop"
                    />
                </div>
            </div>
            <div class="col-12 col-lg-6 order-3 order-lg-2">
                <div class="tab-content w-100">
                    <ServiceTabPane
                        active
                        id="general"
                        image={TestImage}
                        service="General Security Services"
                    >
                        1
                    </ServiceTabPane>
                    <ServiceTabPane
                        id="high-profile-vip"
                        image={TestImage}
                        service="High Profile VIP Security Services"
                    >
                        2
                    </ServiceTabPane>
                    <ServiceTabPane
                        id="hospital-health"
                        image={TestImage}
                        service="Hospital and Health Care Secuirty Services"
                    >
                        3
                    </ServiceTabPane>
                    <ServiceTabPane
                        id="hotel"
                        image={TestImage}
                        service="Hotel Security Services"
                    >
                        4
                    </ServiceTabPane>
                    <ServiceTabPane
                        id="event"
                        image={TestImage}
                        service="Event Security Services"
                    >
                        5
                    </ServiceTabPane>
                    <ServiceTabPane
                        id="school"
                        image={TestImage}
                        service="School Security Services"
                    >
                        6
                    </ServiceTabPane>
                    <ServiceTabPane
                        id="retail"
                        image={TestImage}
                        service="Retail Shop Security"
                    >
                        7
                    </ServiceTabPane>
                    <ServiceTabPane
                        id="mall"
                        image={TestImage}
                        service="Mall Security"
                    >
                        8
                    </ServiceTabPane>
                </div>
            </div>
            <div class="col-6 col-lg-3 order-2 order-lg-3">
                <div class="nav nav-pills w-100 me-4">
                    <ServiceButton
                        target="#mall"
                        icon="fa-car"
                        service="Mall"
                    />
                    <ServiceButton
                        target="#tab-pane-9"
                        icon="fa-cog"
                        service="Construction"
                    />
                    <ServiceButton
                        target="#tab-pane-10"
                        icon="fa-oil-can"
                        service="Corporate & Property"
                    />
                    <ServiceButton
                        target="#tab-pane-11"
                        icon="fa-oil-can"
                        service="55+ Senior Living Center"
                    />
                    <ServiceButton
                        target="#tab-pane-12"
                        icon="fa-oil-can"
                        service="Mobile Patrol"
                    />
                    <ServiceButton
                        target="#tab-pane-13"
                        icon="fa-oil-can"
                        service="Crisis and Eviction Mangement"
                    />
                </div>
            </div>
        </div>
    </Section>
</PageLayout>
