---
// Layout
import RootLayout from "../layouts/RootLayout.astro";
// Components
import SectionTitle from "../components/Layout/SectionTitle.astro";
import Section from "../layouts/Section.astro";
import Button from "../components/Layout/Button.astro";
import FactCard from "../components/Home/FactCard.astro";
import Feature from "../components/Home/Feature.astro";
// Sections
import FullScreenSearch from "../components/Layout/FullScreenSearch.astro";
import Testimonial from "../components/Testimonial/Testimonial.astro";
import QuoteDark from "../components/Layout/QuoteDark.astro";
import BlogRow from "../components/Layout/BlogRow.astro";
import ServiceCard from "../components/Home/ServiceCard.astro";
// Images
import hero from "../assets/img/hero.jpg";
import about from "../assets/img/about.jpg";
import features from "../assets/img/features.jpg";
import general from "../assets/img/general.jpg";
import bank from "../assets/img/bank.jpg";
import hospital from "../assets/img/hospital.jpg";
const clients = await Astro.glob("../assets/img/clients/*");
---

<RootLayout
    nav_active="home"
    page_title="home"
    page_description="We are a 24-hour security & protection company that strives to provide the highest level of service for all our clients. EyeQ Security Services is committed to protecting any and all personal information we have access to, in compliance with the PIPEDA."
>
    <!-- Hero Start -->
    <div class="container-fluid position-relative p-0">
        <div class="row m-0 w-100 hero">
            <div
                class="col-lg-5 bg-raisin-black p-5 d-flex align-items-center hero-left"
            >
                <div>
                    <h1 class="text-light mb-5">
                        Revolutionizing the Security Industry for Over a Decade
                    </h1>
                    <Button href="/contact">Request A Quote</Button>
                </div>
            </div>
            <!-- src="https://picsum.photos/seed/idk/800/600" -->
            <div class="col-lg-7 p-0 hero-right">
                <img class="w-100" alt="" src={hero.src} />
            </div>
        </div>
    </div>
    <!-- Hero End -->

    <!-- Full Screen Search Start -->
    <FullScreenSearch />
    <!-- Full Screen Search End -->

    <!-- Facts Start -->
    <div class="container-fluid facts py-5 pt-lg-0">
        <div class="container py-5 pt-lg-0">
            <div class="row gx-0">
                <FactCard
                    icon="fa-smile"
                    title="Happy Clients"
                    value={500}
                    suffix="+"
                />
                <FactCard
                    icon="fa-users"
                    title="Happy Employees"
                    variant="light"
                    value={1000}
                    suffix="+"
                />
                <FactCard
                    icon="fa-user-tie"
                    title="Highly Experienced<br/> Management"
                    value={100}
                    suffix="%"
                />
                <FactCard
                    icon="fa-trophy"
                    title="Awards for Quality<br/> Services"
                    variant="light"
                    value={5}
                    suffix="+"
                />
            </div>
        </div>
    </div>
    <!-- Facts Start -->

    <!-- Clients Start -->
    <Section>
        <div class="row">
            <style>
                h2.underline {
                    font-weight: 500 !important;
                }
            </style>
            <div class="col-lg-5">
                <h2 class="underline">
                    Trusted by leading brands & organizations of all sizes
                </h2>
            </div>
            <div class="col-lg-7">
                <div class="owl-carousel client-carousel">
                    <!-- <img src="https://picsum.photos/seed/idk/150/50" alt="" /> -->
                    {
                        clients.map((client) => (
                            <img class="w-36 h-12" src={client.default.src} />
                        ))
                    }
                </div>
            </div>
        </div>
    </Section>
    <!-- Clients End -->

    <!-- About Start -->
    <Section>
        <div class="row g-5">
            <div class="col-lg-7">
                <SectionTitle
                    top="About Us"
                    main="EyeQ Security Services"
                    offset
                />
                <p class="mb-1">
                    We are a 24-hour security & protection company that strives
                    to provide the highest level of service for all our clients.
                </p>
                <p class="mb-4">
                    EyeQ Security Services is committed to protecting any and
                    all personal information we have access to, in compliance
                    with the PIPEDA.
                </p>
                <div class="row g-0 mb-3">
                    <div class="col-sm-6 wow zoomIn" data-wow-delay="0.2s">
                        <h5 class="mb-3">
                            <div class="row g-0">
                                <i class="col-1 fa fa-check text-primary me-2"
                                ></i>
                                <span class="col-10">
                                    Offering Top-Notch Quality Services
                                </span>
                            </div>
                        </h5>
                        <h5 class="mb-3">
                            <div class="row g-0">
                                <i class="col-1 fa fa-check text-primary me-2"
                                ></i>
                                <span class="col-10">
                                    Friendly & Professional Security Personnel
                                </span>
                            </div>
                        </h5>
                    </div>
                    <div class="col-sm-6 wow zoomIn" data-wow-delay="0.4s">
                        <h5 class="mb-3">
                            <div class="row g-0">
                                <i class="col-1 fa fa-check text-primary me-2"
                                ></i>
                                <span class="col-10"
                                    >Safeguarding the interests of our
                                    Stakeholders</span
                                >
                            </div>
                        </h5>
                        <h5 class="mb-3">
                            <div class="row g-0">
                                <i class="col-1 fa fa-check text-primary me-2"
                                ></i>
                                <span class="col-10">PIPEDA Compliant</span>
                            </div>
                        </h5>
                    </div>
                </div>
                <div
                    class="d-flex align-items-center mb-4 wow fadeIn"
                    data-wow-delay="0.6s"
                >
                    <div
                        class="bg-primary d-flex align-items-center justify-content-center rounded"
                        style="width: 60px; height: 60px;"
                    >
                        <i class="fa fa-phone-alt text-black"></i>
                    </div>
                    <div class="ps-4">
                        <h5 class="mb-2">Call to ask any question</h5>
                        <h4 class="text-primary mb-0">
                            +1 204 202-7287, +1 204 881-1947
                        </h4>
                    </div>
                </div>
                <div class="d-flex align-items-center">
                    <Button class="mb-md-0" href="/contact">
                        Request A Quote
                    </Button>
                    <Button href="/about" variant="outline-dark">
                        Read More
                    </Button>
                </div>
            </div>
            <div class="col-lg-5" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <!-- https://picsum.photos/800/800" -->
                    <img
                        class="position-absolute w-100 h-100 rounded wow zoomIn"
                        data-wow-delay="0.9s"
                        src={about.src}
                        style="object-fit: cover;"
                    />
                </div>
            </div>
        </div>
    </Section>
    <!-- About End -->

    <!-- Features Start -->
    <Section
        class="bg-gray-gradient"
        title_top="Why Choose Us"
        title_main="We are Here To Help Your Business Grow"
    >
        <div class="row g-5">
            <div class="col-lg-4">
                <div class="row g-5">
                    <Feature
                        feature_title="Clients First"
                        icon="fa-handshake"
                        description="These are the words that EyeQ Security lives by. Our clients' needs are our priority and always come before anything else."
                        data_wow_delay="0.2s"
                    />
                    <Feature
                        feature_title="Integrity"
                        icon="fa-balance-scale"
                        description="One of the key values that EyeQ Security Services was built upon, we promise this to all our clients, at all times."
                        data_wow_delay="0.6s"
                    />

                    <Feature
                        feature_title="Sustainablity"
                        icon="fa-leaf"
                        description="EyeQ Security believes that having a sustainable business leads down the path to long-term success. It is possible to emphasize both environmental 	responsibility and economic viability and is why EyeQ has invested in electric vehicles for our mobile security fleet."
                        data_wow_delay="1.0s"
                    />
                </div>
            </div>
            <div
                class="col-lg-4 wow zoomIn"
                data-wow-delay="0.9s"
                style="min-height: 350px;"
            >
                <div class="position-relative h-100">
                    <!-- Implement srcset for 800x800 -->
                    <!-- "https://picsum.photos/seed/123/720/1280" -->
                    <img
                        class="position-absolute w-100 h-100 rounded wow zoomIn"
                        data-wow-delay="0.1s"
                        src={features.src}
                        style="object-fit: cover;"
                    />
                </div>
            </div>
            <div class="col-lg-4">
                <div class="row g-5">
                    <Feature
                        feature_title="Employee Management"
                        icon="fa-user-friends"
                        description="EyeQ Security is dedicated to fostering a workplace where 	every employee feels valued and empowered. We believe in building a strong and 	engaged team that is passionate about providing our clients with the best security 	service possible."
                        data_wow_delay="0.4s"
                    />
                    <Feature
                        feature_title="Customer Satisfaction"
                        icon="fa-thumbs-up"
                        description="Our dedication to our client's satisfaction is the reason we have a client retention rate of 96%. Going the extra mile is the standard that EyeQ 	operates by."
                        data_wow_delay="0.8s"
                    />
                    <Feature
                        feature_title="Innovation"
                        icon="fa-lightbulb"
                        description="We are constantly looking for ways to deliver better and quicker. We invest in better technology and better training for our personnel. When you hire our services, you will notice the difference. To innovate is to inspire."
                        data_wow_delay="1.2s"
                    />
                </div>
            </div>
        </div>
    </Section>
    <!-- Features Start -->

    <!-- Service Start -->
    <Section class="services bg-cosmic-latte" data_wow_delay="0.1s">
        <div class="row text-jet">
            <div class="col-12 col-lg-4 pe-4 services-left">
                <!-- SectionTitle -->
                <SectionTitle
                    offset
                    top="Our Services"
                    main="Our Business Priorities"
                />
                <ul>
                    <li>
                        Our clients' satisfaction and employee safety are our
                        immediate priorities
                    </li>
                    <li>
                        Continued team growth, training, development, and
                        succession planning
                    </li>
                    <li>
                        Promote security awareness and consistent communication
                        with our clients and team
                    </li>
                    <li>
                        Continuously evolve our business by implementing the
                        newest technology to better protect our staff and
                        clients
                    </li>
                    <li>
                        Ensure all regulatory and legal compliance standards are
                        consistently met
                    </li>
                    <li>
                        Conduct threat assessments and strategic security
                        planning
                    </li>
                    <li>
                        Operating our business from a framework of mutual
                        respect and caring within our community, always striving
                        to provide EQUAL service to ALL individuals we encounter
                    </li>
                    <li>
                        Bringing awareness of our company and individual
                        responsibilities towards reconciliation and supporting
                        our team's understanding of Indigenous culture
                    </li>
                </ul>
            </div>
            <div class="col-12 col-lg-8 services-right mt-4 mt-lg-0">
                <div class="row gx-3">
                    <div class="col-12 col-md-6">
                        <ServiceCard
                            title="General Guard Security"
                            img={general}
                            description="EyeQ Security Services provides comprehensive security services that protect and preserve businesses and properties throughout Manitoba."
                            link="general-security"
                        />
                    </div>
                    <div class="col-12 col-md-6">
                        <ServiceCard
                            title="Bank security"
                            img={bank}
                            description="Banks are probably the riskiest and most sensitive businesses. Ensuring Comprehensive Security and Surveillance 24/7"
                            link="bank-security"
                        />
                    </div>
                    <div class="col-12 col-md-6">
                        <ServiceCard
                            title="Hospital and Health care security"
                            img={hospital}
                            description="Healthcare employees are also vulnerable as targets of violence, both from patients and family members alike. A hospital security officer is charged with maintaining the peace in a hospital & seniors living centers and working to safeguard the people and items within its walls."
                            link="hospital-senior-living"
                        />
                    </div>
                    <div class="col-12 col-md-6">
                        <a class="explore-more text-black" href="/services">
                            <h3 class="mb-3">Explore More Services</h3>
                            <p class="col-10 px-0" style="text-align: justify;">
                                Discover a wide range of services tailored to
                                your needs. Click to explore more and elevate
                                your experience with us.
                            </p>
                            <i class="fa fa-angle-right fa-3x text-primary"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </Section>
    <!-- Service End -->

    <!-- Testimonial Start -->
    <!-- <Section
        class="bg-gray"
        title_top="Testimonial"
        title_main="What Our Clients Say About Our Security Services"
    >
        <Testimonial />
    </Section> -->
    <!-- Testimonial End -->

    <!-- Quote Start -->
    <Section class="bg-raisin-black">
        <QuoteDark />
    </Section>
    <!-- Quote End -->

    <!-- Blog Start -->
    <!-- <Section
        title_top="Latest Blog"
        title_main="Read The Latest Articles from Our Blog Post"
    >
        <BlogRow />
    </Section> -->
    <!-- Blog Start -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded back-to-top"
        ><i class="bi bi-arrow-up"></i></a
    >
</RootLayout>
