---
// Layout
import PageLayout from "../layouts/PageLayout.astro";

// Components
import Section from "../layouts/Section.astro";
import TeamCard from "../components/Team/TeamCard.astro";

// Assets
import Muhammed from "../assets/img/team/muhammed_choloth.jpg";
import TitleImage from "../assets/img/carousel-1.jpg";
import JamesCowan from "../assets/img/team/james_cowan.jpg";
import MikeMcIntyre from "../assets/img/team/mike_mcintyre.jpg";
import AlexMatthews from "../assets/img/team/alex_mathews.jpeg";
import LynetteFutros from "../assets/img/team/Lynnette_Futros.jpg";
import CollinGrey from "../assets/img/team/collin_grey.jpeg";
import Tyler from "../assets/img/team/tyler.jpeg";
import Brij from "../assets/img/team/brij.jpeg";
import Sam from "../assets/img/team/sam_slek.jpg";
import Ali from "../assets/img/team/ali_turab.jpg";
import Matthew from "../assets/img/team/matthew_merete.jpeg";
---

<style>
    .name-title {
        position: relative;
        padding-left: 15px;
        margin-bottom: 1.5rem;
    }
    .name-title::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 8px;
        background-color: #f2c202;
    }
</style>

<PageLayout
    nav_active="team"
    page_title="Team"
    page_description="some description"
    background_image={TitleImage}
>
    <Section
        title_top="Meet Our Team"
        title_main="Passionate People Powering Our Vision"
    >
        <div class="container">
            <!-- CEO Start -->
            <div class="row mb-5">
                <div class="col-lg-4 p-0 pe-lg-4">
                    <TeamCard src={Muhammed} designation="CEO" />
                </div>
                <div class="col-lg-8 bg-cosmic-latte p-4 p-xl-5">
                    <div class="name-title">
                        <h2>Muhammed Choloth</h2>
                        <h6 class="text-body">
                            Chief Executive Officer (CEO) & Managing Director
                        </h6>
                    </div>
                    <p>
                        Muhammed, Founder and CEO of EYEQ, exemplifies visionary
                        leadership, harnessing his exceptional academic
                        credentials and 15+ years of multifaceted expertise to
                        propel the organization toward excellence. Holding a PhD
                        in Psychiatry from prestigious National Institute,
                        complemented by triple master's degrees in Psychiatry
                        and Business Administration (Finance), Muhammed's
                        distinctive blend of clinical acumen and business savvy
                        fosters innovative solutions.
                    </p>
                    <p>
                        As a renowned Clinical Professor in India, Health
                        Officer in UAE, and the Director of Care Home,
                        Muhammed's distinguished career underscores his
                        commitment to exceptional service delivery. With EYEQ,
                        he pioneers a new standard of excellence, driven by an
                        unwavering passion for empowering individuals and
                        organizations. "Transforming lives through exceptional
                        services is my guiding principle," Muhammed affirms. "At
                        EYEQ, we strive for unparalleled excellence, integrity,
                        and innovation, elevating industry benchmarks and
                        enriching lives.
                    </p>
                </div>
            </div>
            <!-- CEO End -->

            <!-- Regional Managers Start -->
            <h2 class="underline">Regional Managers</h2>
            <div class="row mb-4">
                <div class="col-lg-4 p-0 pe-lg-4">
                    <TeamCard src={JamesCowan} designation="CEO" />
                </div>
                <div class="col-lg-8 bg-cosmic-latte p-4 p-xl-5">
                    <div class="name-title">
                        <h2>James Cowan</h2>
                        <h6 class="text-body">
                            Regional Manager - Manitoba and Ontario
                        </h6>
                    </div>
                    <p>
                        A seasoned and tenured asset protection professional,
                        James brings with him over 25 years of loss prevention
                        and private investigation experience, specializing in
                        internal investigations. James decided to continue his
                        education a few years ago and obtained a certificate in
                        Human Resources, with a focus on organizational
                        behaviour. He has extensive knowledge in all aspects of
                        loss prevention and has taken an interest in
                        organizational health and safety, as well. He takes the
                        health and safety aspect of his work very seriously,
                        always ensuring that whomever he works with is aware of
                        how to do so safely and without being injured.
                    </p>
                    <p>
                        James has mentored the starting careers of many security
                        guards and Loss Prevention Officers, passing on his
                        varied wealth of knowledge of the industry. As a
                        Commissionaire of Oaths and a public notary, James has
                        taken on every challenge in his career with
                        steadfastness, professionalism, and intelligence of a
                        true leader in the LP and security industry in Winnipeg.
                        Having seen what has been done incorrectly in the
                        security and loss prevention industry over his career,
                        James takes great care in working hard to do what is
                        right at EyeQ Security, focused client service, properly
                        trained Guards and LPO's, and a safe work environment
                        for all employees of the company.
                    </p>
                </div>
            </div>
            <div class="row mb-5">
                <div
                    class="col-lg-8 bg-cosmic-latte p-4 p-xl-5 order-2 order-md-1"
                >
                    <div class="name-title">
                        <h2>Mike McIntyre</h2>
                        <h6 class="text-body">
                            Regional Manager - Saskatchewan and Alberta
                        </h6>
                    </div>
                    <p>
                        With 18 years of comprehensive experience in the
                        security industry, Mike McIntyre has honed his skills
                        and expertise, with a strong focus on security
                        management for the past 12 years. His role encompasses a
                        wide array of responsibilities, including scheduling,
                        operations, sales and client relations across
                        Saskatchewan and Alberta. This multifaceted position has
                        allowed him to develop a deep understanding of the
                        security landscape, ensuring that he can effectively
                        address the diverse needs of clients while maintaining a
                        high standard of service and safety.
                    </p>
                    <p>
                        Throughout his career, he has pursued continuous
                        professional development, earning 25 certificates in
                        various training courses related to security. This
                        extensive training has equipped him with the knowledge
                        and skills necessary to navigate complex security
                        challenges and implement effective solutions tailored to
                        individual client requirements. Mike's ability to foster
                        strong relationships with clients has been pivotal in
                        driving business growth and ensuring client
                        satisfaction. Mike prides himself on his proactive
                        approach to security management, always striving to stay
                        ahead of industry trends and best practices. Mike's
                        commitment to excellence and dedication to service have
                        been the cornerstones of his career, enabling him to
                        contribute positively to the security sector in both
                        Saskatchewan and Alberta
                    </p>
                </div>
                <div class="col-lg-4 p-0 ps-lg-4 order-1 order-md-2">
                    <TeamCard src={MikeMcIntyre} designation="CEO" />
                </div>
            </div>
            <!-- Regional Managers End -->

            <!-- Talent & HR Start -->
            <h2 class="underline">Talent Acquisition & Human Resources</h2>
            <div class="row mb-5">
                <div class="col-lg-4 p-0 pe-lg-4">
                    <TeamCard src={AlexMatthews} designation="CEO" />
                </div>
                <div class="col-lg-8 bg-cosmic-latte p-4 p-xl-5">
                    <div class="name-title">
                        <h2>Alex Mathews</h2>
                        <h6 class="text-body">
                            Corporate HR & Talent Acquisition
                        </h6>
                    </div>
                    <p>
                        Alex Mathews is the Corporate HR Manager at EyeQ
                        Security Services Inc. Alex oversees Talent Acquisition
                        across Canada and oversees general HR administration.
                        Before joining EyeQ, Alex has worked on multiple
                        verticals for over the period of 11 years for various
                        multinational corporations. Furthermore, Alex holds a
                        Master's degree in Human Resources, and a Post-Graduate
                        Degree in International Business from RRC Polytech.
                    </p>
                </div>
            </div>

            <!-- Consultant -->
            <h2 class="underline">Consultant</h2>
            <div class="row">
                <div class="col-lg-4 p-0 pe-lg-4">
                    <TeamCard src={LynetteFutros} designation="CEO" />
                </div>
                <div class="col-lg-8 bg-cosmic-latte p-4 p-xl-5">
                    <div class="name-title">
                        <h2>Lynnette Futros</h2>
                        <h6 class="text-body">Business Consultant</h6>
                    </div>
                    <p>
                        Lynnette is a seasoned business consultant with 15+
                        years of retail industry experience, driving growth,
                        innovation and operational excellence. With a graduate
                        certificate in project management, she possesses a
                        unique blend of strategic planning, team leadership and
                        hands-on business acumen. Lynnette's expertise spans in
                        operations, administration, employer branding, sales,
                        and customer service integration. Her strengths include
                        strategic thinking, collaborative leadership, innovative
                        problem-solving and effective communication.
                    </p>
                    <p>
                        With a proven track record of successfully navigating
                        complex business challenges, Lynnette helps EyeQ to
                        optimize operations, enhance customer experiences and
                        achieve sustainable success. Her services include
                        business strategy development, operational efficiency
                        improvement, project management and leadership coaching.
                    </p>
                </div>
            </div>
        </div>
        <!-- Talent & HR End -->
    </Section>
    <Section
        title_top="Team Profiles"
        title_main="The People Who Make It Happen"
    >
        <div class="row g-5">
            <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
                <TeamCard
                    src={CollinGrey}
                    name="Collin Grey"
                    designation="Assistant Manager, Manitoba"
                />
            </div>
            <div class="col-lg-4 wow slideInUp" data-wow-delay="0.6s">
                <TeamCard
                    src={Matthew}
                    name="Matthew Merete"
                    designation="Assistant Manager, Alberta"
                />
            </div>
            <div class="col-lg-4 wow slideInUp" data-wow-delay="0.9s">
                <TeamCard
                    src={Tyler}
                    name="Tyler Woznuk"
                    designation="Assistant Manager, Saskatoon"
                />
            </div>
            <div class="col-lg-4 wow slideInUp" data-wow-delay="1.2s">
                <TeamCard
                    src={Brij}
                    name="Brij Thakur"
                    designation="Assistant Manager, Regina"
                />
            </div>
            <div class="col-lg-4 wow slideInUp" data-wow-delay="1.5s">
                <TeamCard
                    src={Sam}
                    name="Sam Slek"
                    designation="Assistant Manager, British Colombia"
                />
            </div>
            <div class="col-lg-4 wow slideInUp" data-wow-delay="1.8s">
                <TeamCard
                    src={Ali}
                    name="Syed Turab Ali"
                    designation="Assistant Manager, Ontario"
                />
            </div>
        </div>
    </Section>
</PageLayout>
