---
// types
import { type LayoutProps } from "../types";

// utils
import { capitalizeFirstLetter } from "../utils";

// Layout
import RootLayout from "./RootLayout.astro";

interface Props extends LayoutProps {
    background_image: ImageMetadata;
}
const { page_title, page_description, background_image } = Astro.props as Props;

const appendUs = () => {
    if (page_title === "about" || page_title === "contact") return " Us";
    return "";
};

const bgImage = `url("${background_image.src}")`;
// og rgba(9, 30, 62, 0.7)
---

<style define:vars={{ bgImage }}>
    :root {
        --bgOverlay: rgba(35, 35, 5, 0.7);
    }
    .bg-header {
        background:
            linear-gradient(var(--bgOverlay), var(--bgOverlay)),
            var(--bgImage) center center no-repeat;
        background-size: cover;
    }
</style>
<RootLayout page_title={page_title} page_description={page_description}>
    <!-- Header Start -->
    <div
        class="container-fluid bg-primary py-5 bg-header"
        style="margin-bottom: 90px;"
    >
        <div class="row py-5">
            <div class="col-12 pt-lg-5 mt-lg-5 text-center">
                <h1 class="display-4 text-white animated zoomIn">
                    {capitalizeFirstLetter(page_title) + appendUs()}
                </h1>
                <a href="/" class="h5 text-white">Home</a>
                <i class="far fa-circle text-white px-2"></i>
                <a href={`/${page_title}`} class="h5 text-white"
                    >{capitalizeFirstLetter(page_title)}</a
                >
            </div>
        </div>
    </div>
    <!-- Header End -->

    <slot />
</RootLayout>
