---
// Types
import { type LayoutProps } from "../types";

// utils
import { capitalizeFirstLetter } from "../utils";

// Layout
import RootLayout from "./RootLayout.astro";

interface Props extends LayoutProps {
    background_image: ImageMetadata;
    headline?: string;
    headline_path?: string;
}
const {
    nav_active,
    page_title,
    page_description,
    background_image,
    headline,
    headline_path,
} = Astro.props as Props;

const appendUs = () => {
    if (page_title === "about" || page_title === "contact") return " Us";
    return "";
};

const bgImage = `url("${background_image.src}")`;
// og rgba(9, 30, 62, 0.7)
---

<style define:vars={{ bgImage }}>
    :root {
        --bgOverlay: rgba(35, 35, 5, 0.7);
    }
    .bg-header {
        background:
            linear-gradient(var(--bgOverlay), var(--bgOverlay)),
            var(--bgImage) center center no-repeat;
        background-size: cover;
    }
</style>
<RootLayout
    page_title={headline ? headline : page_title}
    page_description={page_description}
    nav_active={nav_active}
>
    <!-- Header Start -->
    <!-- style="margin-bottom: 90px;" -->
    <div class="container-fluid bg-primary py-5 bg-header">
        <div class="row py-5">
            <div class="col-12 pt-lg-5 mt-lg-5 text-center">
                <h1 class="display-4 text-white text-center animated zoomIn">
                    {
                        headline
                            ? capitalizeFirstLetter(headline)
                            : capitalizeFirstLetter(page_title) + appendUs()
                    }
                </h1>
                <a href="/" class="h5 text-white">Home</a>
                <i class="far fa-circle text-white px-2"></i>
                <a href={`/${page_title}`} class="h5 text-white">
                    {capitalizeFirstLetter(page_title)}
                </a>
                {
                    headline && (
                        <>
                            <i class="far fa-circle text-white px-2" />
                            <a href={headline_path} class="h5 text-white">
                                {capitalizeFirstLetter(headline)}
                            </a>
                        </>
                    )
                }
            </div>
        </div>
    </div>
    <!-- Header End -->

    <slot />
</RootLayout>
