---
import type { HTMLAttributes } from "astro/types";
import SectionTitle from "../components/Layout/SectionTitle.astro";

interface Props extends HTMLAttributes<"section"> {
    title_top?: string;
    title_main?: string;
    title_offset?: boolean;
    background_image?: ImageMetadata;
    data_wow_delay?: "0.1s" | string;
}

const props = Astro.props as Props;
if (!props.title_offset) props.title_offset = false;

let bgImage = "";

if (props.background_image) bgImage = `url("${props.background_image.src}")`;
---

<style define:vars={{ bgImage }}>
    :root {
        --bg-overlay: rgba(0, 0, 0, 0.5);
    }

    .bg {
        background: linear-gradient(var(--bg-overlay), var(--bg-overlay)),
            var(--bgImage);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>

<section
    class={"container-fluid py-5 wow fadeInUp" +
        ` ${props.class}` +
        (props.background_image ? " bg" : "")}
    data-wow-delay={props.data_wow_delay}
>
    <div class="container py5">
        {
            props.title_main && props.title_top && (
                <SectionTitle
                    main={props.title_main}
                    top={props.title_top}
                    offset={props.title_offset}
                />
            )
        }
        <slot />
    </div>
</section>
